streamlit==1.24.0
git+https://github.com/hukkelas/DSFD-Pytorch-Inference.git
opencv-python==4.9.0.80
scikit-image==0.22.0
imageio==2.34.0
timm==0.8.13.dev0
rmn==3.1.2
face-alignment
sixdrepnet==0.1.6
gdown==5.1.0
controlnet_aux==0.0.5
transformers==4.36.2